.home-container {
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  overflow: hidden;
  flex: 1;
}

.body-container {
  display: flex;
  padding-top: 3%;
  align-items: center;
}

.motto {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 105px;
  letter-spacing: 3px;
  margin-left: 22%;
  width: 80%;
  height: 20%;
}

.motto-bold {
  font-weight: 700;
}

.support-text {
  font-size: 30px;
  margin-top: 5%;
  font-weight: 400;
  margin-left: 22%;
  width: 80%;
}

.sign-in-btn {
  background: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  width: 231px;
  margin-left: 22%;
  margin-top: 6%;
  height: 66px;
}

.sign-in-btn-text {
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

.image-container {
  width: 115%;
  height: 40%;
}

@media (max-width: 768px) {
  .body-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .image-container {
    width: 691.2px;
    height: 345.6px;
  }

  .motto {
    width: 384px;
    text-align: center;
    word-spacing: 7.68px;
    margin-left: 30.72px;
    line-height: 1.3;
    font-size: 53px;
  }

  .support-text {
    margin-left: 0;
    width: 437.76px;
    text-align: center;
    margin-top: 26.88px;
    word-spacing: 7.68px;
  }

  .sign-in-btn {
    margin-left: 122.88px;
    width: 176.64px;
    height: 53.76px;
  }

  .sign-in-btn-text {
    font-size: 23.04px;
  }
}

@media (max-width: 414px) {
  .image-container {
    width: 372.6px;
    height: 227.7px;
  }

  .motto {
    width: 186.3px;
    font-size: 28.98px;
    margin-left: 45.54px;
  }

  .support-text {
    margin-left: 20.7px;
    width: 231.84px;
    text-align: center;
    word-spacing: 4.14vw;
    font-size: 18.216px;
  }
  .sign-in-btn {
    width: 285.66px;
    margin-left: 0;
    height: 41.4px;
  }
  .sign-in-btn-text {
    font-size: 20.7px;
  }
}
